:root {
  --ubuntu-purple: #5e2750;
  --ubuntu-light-purple: #77216f;
  --ubuntu-orange: #e95420;
  --ubuntu-terminal-green: #2ec27e;
  --ubuntu-terminal-dark: #300a24;
  --ubuntu-terminal-text: #ffffff;
  --ubuntu-terminal-highlight: #16a085;
}