.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.horizontal-section {
    display: flex;
    flex: 1;
}


.sidebar {
    width: 200px;
    background-color: #000000;
    padding: 20px;

   
    @media (max-width: 768px) {
        width: 100%;
    }
}


.main-content {
    flex: 1;
    overflow: auto;
    background-color: #000000; 
    color: #00FF00; 
    padding: 20px; 
    border: 2px solid #00FF00; 
    box-shadow: 0 0 10px #00FF00; 
}

@media (max-width: 1024px) {
    .main-content {
        padding: 15px; /* Adjust padding for tablets */
    }
}

@media (max-width: 768px) {
    .main-content {
        padding: 10px; /* Adjust padding for mobile phones */
    }
}

@media (max-width: 480px) {
    .main-content {
        /* Further adjustments for smaller screens */
        padding: 5px;
        font-size: 14px; /* Reduce font-size on very small devices */
    }
}
 


.footer {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
}


.tecnologias {
    width: 200px;
    background-color: #000000;
    padding: 20px;
    place-items: center;

    
    @media (max-width: 768px) {
        width: 100%;
    }
}

.technologies {
    flex: 1;
    overflow: auto;
    color: #040c04; 
    padding: 20px; 

    @media (max-width: 768px) {
        padding: 10px;
    }
}
