.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   
}
.horizontal-section {
    display: flex;
    justify-content: space-around;
    width: 100%;  display: flex;
    flex: 1
}
.sidebar {
    width: 200px;
    background-color: #000000;
    padding: 20px;
}
.main-content {
    flex: 1;
    overflow: auto;
    background-color: #000000; 
    color: #00FF00; 
    padding: 20px; 
    border: 2px solid #00FF00; 
    box-shadow: 0 0 10px #00FF00; 

}
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    background-color: #000000;
}
.tecnologias {
    width: 200px;
    background-color: #000000;
    padding: 20px;
    place-items: center; 

}

.technologies{
    flex: 1;
    overflow: auto;
    color: #040c04; 
    padding: 20px; 
    

}

.vertical-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media (min-width: 601px) {
    .horizontal-section {
        flex-direction: row;
    }
}

@media (max-width: 600px) {
    .vertical-section {
        flex-direction: column;
    }
}
