
.perfil-header {
    margin-bottom: 100px;
    color: #111010; 
}

.perfil-nombre {
    margin: 10px 0;
    font-size: 24px;
    color: #111010; 
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.perfil-grado {
    margin: 10px 0;
    font-size: 18px;
    color: #111010; 
    font-weight: bold;

}

.perfil-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff; 
}

.icono-img {
    width: 40px;
    height: 40px;
}

.icono {
    display: inline-block;
    transition: transform 0.2s ease;
}

.icono:hover {
    transform: scale(1.30);
}
