/* @media (max-width: 768px) {
  .skill-container {
      width: 100%;
      max-width: 100%; 
  }
} */


.Most-languages {
    width: 400px; 
    height: auto; 
    border: 2px solid #333; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin: 20px; 
    padding: 10px; 
     background-color: #1e07c7;  
    transition: transform 0.3s ease;
  }
  
  .Most-languages:hover {
    transform: scale(1.55);
  }
  .Github-stats {
    width: 400px; 
    height: auto; 
    border: 2px solid #333; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(242, 6, 6, 0.2); 
    margin: 20px; 
    padding: 10px; 
    background-color: #1e07c7; 
    transition: transform 0.3s ease;
  
  }
  
  .Github-stats:hover {
    transform: scale(1.45);
    background-color: #fff;
    
  }
  .icono-skill {
    width: 100px; /* Increased from 40px */
    height: 100px; /* Increased from 40px */
}

.icono {
    display: inline-block;
    transition: transform 0.2s ease;
}

.icono:hover {
    transform: scale(1.30); 
}

.stats-images {
  display: flex; /* Usa flexbox para centrar las imágenes dentro de este contenedor */
  justify-content: center; /* Centra las imágenes horizontalmente */
  margin-bottom: 5px; /* Agrega un margen inferior para separar las imágenes del icono */
}

.Github-stats, .Most-languages {
  margin: 0 -10px; /* Agrega margen entre las imágenes */
  max-width: 100%; /* Asegúrate de que las imágenes no se salgan del contenedor */
  height: auto; /* Mantén la proporción de la imagen */
}
