/* @media (max-width: 768px) {
  .skill-container {
      width: 100%;
      max-width: 100%; 
  }
} */


.Most-languages {
  width: 400px;
  height: auto;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 10px;
  background-color: #080521ca;
  transition: transform 0.3s ease;
}

.Most-languages:hover {
  transform: scale(1.55);
}

.Github-stats {
  width: 400px;
  height: auto;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(24, 8, 8, 0.877);
  margin: 20px;
  padding: 10px;
  background-color: #02000bda;
  transition: transform 0.3s ease;

}

.Github-stats:hover {
  transform: scale(1.45);
  background-color: #130d0dda;

}

.logo {
  width: 85px;
  height: 85px;
  cursor: pointer;
} 

.icono {
  display: inline-block;
  transition: transform 0.2s ease;

}

.icono:hover {
  transform: scale(1.30);
}

.stats-images {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.Github-stats,
.Most-languages {
  margin: 0 10px;

  width: 500px;
  height: auto;
}

.tooltip {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  background-color: black;
  color: white;
  padding: 5px; /* Removed extra semicolon */
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 10;
  margin-right: 10px;
}
.tecnologias-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}